# General Caddyfile
{
	{% if not caddy_acme_internal | d(false) %}
	# https://letsencrypt.org/docs/acme-protocol-updates/#api-endpoints
	{% if caddy_acme_staging | d(false) | bool %}
	acme_ca {{ caddy_acme_ca_api_staging }}
	{% else %}
	acme_ca {{ caddy_acme_ca_api }}
	{% endif %}
	{% endif %}
	admin 127.0.0.1:2019
	# admin off
	email {{ letsencrypt_email }}
	http_port 80
	https_port 443
	log default {
		output stderr
		format json
		level {{ caddy_loglevel | d('error') }}
	}
	servers {
		metrics
		{% if caddy_trusted_proxies | d([]) is truthy %}		trusted_proxies static{% for _trusted_proxy in caddy_trusted_proxies %} {{ _trusted_proxy }}{% endfor +%}
		{% endif %}
	}
{% if caddy_acme_server | d(false) | bool %}
	pki {
		ca local {
			intermediate_lifetime 30d
		}
	}
{% endif %}
}
(accesslog) {
	log {
		output stderr
		format filter {
			wrap json {
				time_format wall_milli
				time_local
			}
			fields {
				request>remote_ip ip_mask {
					ipv4 24
					ipv6 56
				}
			}
		}
		level {{ caddy_loglevel | d('info') }}
	}
}
{# (errorhandling) {
	handle_errors {
		rewrite * /{err.status_code}
		reverse_proxy https://http.cat {
			header_up Host {upstream_hostport}
			replace_status {err.status_code}
		}
	}
} #}
{# (wellknown) {
	handle_path /.well-known/* {
		root * /srv/well-known
		file_server
	}
}
:443 {
	tls {{ CADDY_CERT }} {{ CADDY_CERT_KEY }}
} #}

{% if caddy_acme_server | d(false) | bool %}
# ACME Server
{{ caddy_internal_acme_server_fqdn }} {
	acme_server {
		ca local
		lifetime 7d
		# sign_with_root
	}
	tls internal
}
{% endif %}
{% if caddy_acme_internal | d(false) %}
# Request certificate for this upstream host
https://{{ ansible_fqdn if caddy_published | d(true) | bool else pod_name ~ '.dns.podman' if pod_name | d('') is truthy else container_name ~ '.dns.podman' }} {
	handle {
		respond "Nothing to see here - go away and just let me fetch my certificate for {{ ansible_fqdn }}!"
	}
	tls {
		ca https://{{ caddy_internal_acme_server_fqdn }}/acme/local/directory
		ca_root /config/root.crt
	}
}
{% endif %}

import /config/*.caddy
