{% for _address in caddy_target_addresses | d(["https://" + caddy_config_name + ":443"]) %}
{{ _address }}{% if not loop.last %},
{% endif %}{% endfor %} {
{# https://{{ caddy_config_name }}:{{ caddy_target_uri_port | d('443') }} { #}
	# encode gzip
	# import from global Caddyfile
	import accesslog
	{% for line in _caddy_global_config_lines.splitlines() %}
	{{ line }}
	{% endfor %}
	{% if caddy_acme_challenge | d('') == 'dns' %}
	tls {
		dns rfc2136 {
		key_name "{{ rfc2136_key.key_name }}"
		key_alg "{{ rfc2136_key.key_alg }}"
		key "{{ rfc2136_key.key }}"
		server "{{ rfc2136_key.server }}:53"
		}
		# propagation_timeout 1m
		resolvers {{ rfc2136_key.server }}
		# propagation_delay 1m
		dns_challenge_override_domain {{ rfc2136_key.dns_challenge_override_domain }}
	}
	{% endif %}
	{% if caddy_basicauth_user is defined and caddy_basicauth_user is truthy %}
	basic_auth {{ caddy_basicauth_matcher | d('*') }} {
		{{ caddy_basicauth_user }} {{ caddy_basicauth_password | string |
		  password_hash(hashtype='bcrypt',salt=caddy_config_name | hash('sha1') | regex_replace('(.{22}).*', '\\1')) }}
	}
	{% endif %}
	{# import errorhandling
	import wellknown #}
	{# handle * { #}
	{% if caddy_operation == 'caddy_reverse_proxy' %}
	reverse_proxy {{ caddy_reverse_proxy_upstream_protocol | d('') }}{{ caddy_reverse_proxy_upstream_host }}:{{ caddy_reverse_proxy_upstream_port | d ('443') }} {
		# caddy_reverse_proxy_config_lines:
		{% for line in _caddy_reverse_proxy_config_lines.splitlines() %}
		{{ line }}
		{% endfor %}
	}
	header /* {
		# header lines comming from caddy_header_lines
		{% for line in _caddy_header_lines.splitlines() %}
		{{ line }}
		{% endfor %}
		{# Strict-Transport-Security "max-age=15552000; includeSubDomains" #}
		{# Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" #}
		{# X-Content-Type-Options nosniff always #}
		{# X-Xss-Protection "1; mode=block" always #}
		{# X-Frame-Options "SAMEORIGIN" always #}
	}
	{% for line in caddy_proxy_config_lines | d([]) %}
	{{ line }}
	{% endfor %}
	{% endif %}
	{% if caddy_operation == 'caddy_file_server' %}
	handle * {
		header /* {
			{% for line in _caddy_header_lines.splitlines() %}
			{{ line }}
			{% endfor %}
			{# Strict-Transport-Security "max-age=15552000; includeSubDomains" #}
			{# Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" #}
			{# X-Content-Type-Options nosniff always #}
			{# X-Xss-Protection "1; mode=block" always #}
			{# X-Frame-Options "SAMEORIGIN" always #}
		}
		root * {{ caddy_file_server_root | d('/data/' ~ caddy_config_name ~'/') }}
		file_server
		{# {{ caddy_file_server_config_lines }} #}
		{% for line in _caddy_file_server_config_lines.splitlines() %}
		{{ line }}
		{% endfor %}
	}
	{# tls {
		protocols tls1.3
		curves x25519
	}
	encode zstd gzip #}
	{% endif %}
}
